//grid
$columns: 12;
//breakpoints
$xs: 320px;
$sm: 640px;
$md: 980px;
$lg: 1024px;

//
$blue: linear-gradient(to right, #19b4c6, #078aa4);
$gray: #27212c;
$pink: #bc3183;
$purple: #5b0fa1;
$black: #111416; //hamburger
$white: #fff;

$header-color: #373c3f;

$header-text-color: #ebebeb;
$intro-text-color: #7dcdd9;
$second-text-color: #62576c;
$about-h-color: #2a94aa;
$about-p-color: #515151;

$about-bg: #ebebeb;